<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.member.mapper.TPlatformConfigMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sky.member.entity.TPlatformConfigEntity" id="tPlatformConfigMap">
        <result property="id" column="id"/>
        <result property="platformKey" column="platform_key"/>
        <result property="platformName" column="platform_name"/>
        <result property="platformConfig" column="platform_config"/>
        <result property="platformStatus" column="platform_status"/>
        <result property="tipName" column="tip_name"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

	<select timeout="20" id="selectPlatFromInfo" parameterType="java.lang.String"
			resultType="java.util.Map">
		select platform_key,platform_name,platform_config,platform_status
		from
		t_platform_config where platform_status=1
		<if test="KEY != null and KEY !=''">
			AND platform_key=#{KEY}
		</if>

	</select>



	<select id="queryObject"  resultMap="tPlatformConfigMap">
		select * from t_platform_config where id = #{id}
	</select>

	<select id="queryList" resultMap="tPlatformConfigMap">
		select * from t_platform_config
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from t_platform_config 
	</select>
	 
	<insert id="save" parameterType="com.sky.member.entity.TPlatformConfigEntity" useGeneratedKeys="true" keyProperty="id">
		insert into t_platform_config
		(
			`platform_key`, 
			`platform_name`, 
			`platform_config`, 
			`platform_status`, 
			`tip_name`, 
			`add_time`, 
			`update_time`, 
			`update_uid`
		)
		values
		(
			#{platformKey}, 
			#{platformName}, 
			#{platformConfig}, 
			#{platformStatus}, 
			#{tipName}, 
			#{addTime}, 
			#{updateTime}, 
			#{updateUid}
		)
	</insert>
	 
	<update id="update" parameterType="com.sky.member.entity.TPlatformConfigEntity">
		update t_platform_config 
		<set>
			<if test="platformKey != null">`platform_key` = #{platformKey}, </if>
			<if test="platformName != null">`platform_name` = #{platformName}, </if>
			<if test="platformConfig != null">`platform_config` = #{platformConfig}, </if>
			<if test="platformStatus != null">`platform_status` = #{platformStatus}, </if>
			<if test="tipName != null">`tip_name` = #{tipName}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateUid != null">`update_uid` = #{updateUid}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from t_platform_config where id = #{id}
	</delete>
	
	<delete id="deleteBatch">
		delete from t_platform_config where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>