<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.member.mapper.TProxyUserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sky.member.entity.TProxyUserEntity" id="tProxyUserMap">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="name" column="name"/>
        <result property="upId" column="up_id"/>
        <result property="type" column="type"/>
        <result property="upTime" column="up_time"/>
        <result property="status" column="status"/>
        <result property="domain" column="domain"/>
        <result property="email" column="email"/>
        <result property="qq" column="QQ"/>
        <result property="bankname" column="bankname"/>
        <result property="bankcode" column="bankcode"/>
        <result property="bankaddress" column="bankaddress"/>
        <result property="mobile" column="mobile"/>
        <result property="cid" column="cid"/>
        <result property="rmk" column="rmk"/>
        <result property="dUserType" column="d_user_type"/>
    </resultMap>

	<select id="queryObject" resultMap="tProxyUserMap">
		select * from t_proxy_user where id = #{id}
	</select>

	<select id="queryList"  resultMap="tProxyUserMap">
		select * from t_proxy_user
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from t_proxy_user 
	</select>
	 
	<insert id="save" parameterType="com.sky.member.entity.TProxyUserEntity" useGeneratedKeys="true" keyProperty="id">
		insert into t_proxy_user
		(
			`user_name`, 
			`name`, 
			`up_id`, 
			`type`, 
			`up_time`, 
			`status`, 
			`domain`, 
			`email`, 
			`QQ`, 
			`bankname`, 
			`bankcode`, 
			`bankaddress`, 
			`mobile`, 
			`cid`, 
			`rmk`, 
			`d_user_type`
		)
		values
		(
			#{userName}, 
			#{name}, 
			#{upId}, 
			#{type}, 
			#{upTime}, 
			#{status}, 
			#{domain}, 
			#{email}, 
			#{qq}, 
			#{bankname}, 
			#{bankcode}, 
			#{bankaddress}, 
			#{mobile}, 
			#{cid}, 
			#{rmk}, 
			#{dUserType}
		)
	</insert>
	 
	<update id="update" parameterType="com.sky.member.entity.TProxyUserEntity">
		update t_proxy_user 
		<set>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="upId != null">`up_id` = #{upId}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="upTime != null">`up_time` = #{upTime}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="domain != null">`domain` = #{domain}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="qq != null">`QQ` = #{qq}, </if>
			<if test="bankname != null">`bankname` = #{bankname}, </if>
			<if test="bankcode != null">`bankcode` = #{bankcode}, </if>
			<if test="bankaddress != null">`bankaddress` = #{bankaddress}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="cid != null">`cid` = #{cid}, </if>
			<if test="rmk != null">`rmk` = #{rmk}, </if>
			<if test="dUserType != null">`d_user_type` = #{dUserType}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from t_proxy_user where id = #{id}
	</delete>
	
	<delete id="deleteBatch">
		delete from t_proxy_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>